body {
    height: 100%;
    max-height: 100%;
    font-family: "Hiragino Sans GB","Microsoft YaHei","微软雅黑",Georgia,tahoma,arial,simsun,"宋体";
    color: #3A4145;
}

.site-head {
    position: relative;
    display: table;
    width: 100%;
    height: 300px;
    margin-bottom: 5rem;
    text-align: center;
    color: #fff;
    background: #303538 no-repeat center center;
    background-size: cover;
}

.site-head h1 {
    font-size: 36px;
    line-height: 40px;
}

.site-head .subtitle {
    font-size: 24px;
}

.vertical {
    display: table-cell;
    vertical-align: middle;
}

.content {
    max-width:768px;
    margin-left: auto;
    margin-right: auto;
    padding:20px;
    word-break:break-all;
}

.action-bar {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 100px;
    height: 100px;
    font-size: 12px;
    text-align: right;
}

.top {
    background: #303538 no-repeat center center;
    padding: 20px;
}

.title {
    font-size: 18px;
    line-height: 20px;
    color: white;
}

.action {
    text-align: right;
}

.top a {
    color: white;
}
