{% extends "base.html" %}

{% block head %}
<div class="row top">
    <div class="col-md-3 title">修改简历</div>
    <div class="col-md-9 action">
        <a href="/">返回首页</a></div>
</div>
{% endblock %}

{% block content %}
    {% if admin_validated %}
    <div class="yue" id="editormd">
        <textarea style="display:none;">{{ resume }}</textarea>
    </div>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='editor.md/editormd.min.js') }}"></script>
    <script type="text/javascript">
        $(function() {
            var editor = editormd("editormd", {
                width: "90%",
                height: 640,
                syncScrolling : "single",
                path : "../static/editor.md/lib/" // Autoload modules mode, codemirror, marked... dependents libs path
            });

            /*
            // or
            var editor = editormd({
                id   : "editormd",
                path : "../lib/"
            });
            */
        });
    </script>
    {% else %}
        <div class="content passbox">
            <center>
                <p>本简历受密码保护，请输入管理密码后继续</p>
                <div class="input-group passinput">
                    <input type="password" class="form-control" name="admin_password">
                    <span class="input-group-btn">
                        <button class="btn btn-default " type="button" onclick="validate_admin_pass()">确定</button>
                    </span>
                </div><!-- /input-group -->
            </center>
        </div>
    {% endif %}
{% endblock %}
